.estructura_lógica/.n8n/n8n-stripe-workflows/w3-milestone-setup.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-milestones-setup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "20cae197-5da0-4357-9902-08d396fe70b8",
      "name": "Webhook - Milestone Setup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "milestone-setup-webhook-id"
    },
    {
      "parameters": {
        "url": "=https://qkdvosjitrkopnarbozv.supabase.co/rest/v1/installer_milestone_templates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.body.template_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZHZvc2ppdHJrb3BuYXJib3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODIzMDMyMSwiZXhwIjoyMDczODA2MzIxfQ.AB4ke4bt8qF6QG8SWCOyQ2EF24UW-gBm50nNWOYrixI"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZHZvc2ppdHJrb3BuYXJib3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODIzMDMyMSwiZXhwIjoyMDczODA2MzIxfQ.AB4ke4bt8qF6QG8SWCOyQ2EF24UW-gBm50nNWOYrixI"
            }
          ]
        },
        "options": {}
      },
      "id": "443ff79d-50b1-45d8-b4ad-2b43b60a6b0b",
      "name": "Get Milestone Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get data from nodes\nconst webhookData = $('Webhook - Milestone Setup').first().json;\nconst templateResponse = $input.first().json;\n\n// Supabase returns an array, get first item\nconst template = Array.isArray(templateResponse) ? templateResponse[0] : templateResponse;\n\nif (!template || !template.milestones) {\n  throw new Error('Template not found or invalid');\n}\n\nconst totalAmount = webhookData.body.total_amount;\nconst platformFee = totalAmount * 0.08; // 8%\nconst installerAmount = totalAmount * 0.92; // 92%\n\n// Calculate milestones based on template percentages\nconst milestones = template.milestones.map((m, index) => ({\n  milestone_number: index + 1,\n  title: m.title,\n  description: m.description,\n  percentage: m.percentage,\n  amount: (totalAmount * m.percentage) / 100\n}));\n\nconsole.log('=====================================');\nconsole.log('Milestone Setup - Calculations');\nconsole.log('Total Amount:', totalAmount);\nconsole.log('Platform Fee (8%):', platformFee);\nconsole.log('Installer Amount (92%):', installerAmount);\nconsole.log('Number of Milestones:', milestones.length);\nconsole.log('Milestones:', milestones);\nconsole.log('=====================================');\n\nreturn [{\n  json: {\n    ...webhookData.body,\n    platform_fee: platformFee,\n    installer_amount: installerAmount,\n    milestones: milestones,\n    template_name: template.template_name\n  }\n}];"
      },
      "id": "c910eee3-f2c4-4621-a076-2de05b7d98d2",
      "name": "Calculate Fees & Milestones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qkdvosjitrkopnarbozv.supabase.co/rest/v1/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZHZvc2ppdHJrb3BuYXJib3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODIzMDMyMSwiZXhwIjoyMDczODA2MzIxfQ.AB4ke4bt8qF6QG8SWCOyQ2EF24UW-gBm50nNWOYrixI"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZHZvc2ppdHJrb3BuYXJib3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODIzMDMyMSwiZXhwIjoyMDczODA2MzIxfQ.AB4ke4bt8qF6QG8SWCOyQ2EF24UW-gBm50nNWOYrixI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"proyecto_id\": \"{{ $('Calculate Fees & Milestones').first().json.proyecto_id }}\",\n  \"cliente_id\": \"{{ $('Calculate Fees & Milestones').first().json.cliente_id }}\",\n  \"instalador_id\": \"{{ $('Calculate Fees & Milestones').first().json.instalador_id }}\",\n  \"payment_method\": \"milestones\",\n  \"total_amount\": {{ $('Calculate Fees & Milestones').first().json.total_amount }},\n  \"platform_fee\": {{ $('Calculate Fees & Milestones').first().json.platform_fee }},\n  \"installer_amount\": {{ $('Calculate Fees & Milestones').first().json.installer_amount }},\n  \"status\": \"pending\",\n  \"metadata\": {{ JSON.stringify({ template_name: $('Calculate Fees & Milestones').first().json.template_name }) }}\n}",
        "options": {}
      },
      "id": "e2a0a07b-126b-4b29-b823-c12c1c764906",
      "name": "Create Payment Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get payment record from Create Payment Record node\nconst paymentResponse = $input.first().json;\n\n// Handle Supabase response format - it returns array when using Prefer: return=representation\nconst paymentId = Array.isArray(paymentResponse) ? paymentResponse[0].id : paymentResponse.id;\n\nconst milestones = $('Calculate Fees & Milestones').first().json.milestones;\n\nconsole.log('=====================================');\nconsole.log('Preparing Milestones for Insert');\nconsole.log('Payment ID:', paymentId);\nconsole.log('Number of Milestones:', milestones.length);\nconsole.log('=====================================');\n\n// Return array of milestones ready for insertion\nreturn milestones.map(m => ({\n  json: {\n    payment_id: paymentId,\n    milestone_number: m.milestone_number,\n    title: m.title,\n    description: m.description,\n    percentage: m.percentage,\n    amount: m.amount,\n    status: 'pending'\n  }\n}));"
      },
      "id": "4b82ab9b-7a45-490e-89d8-6d708dd071c9",
      "name": "Prepare Milestones for Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qkdvosjitrkopnarbozv.supabase.co/rest/v1/payment_milestones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZHZvc2ppdHJrb3BuYXJib3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODIzMDMyMSwiZXhwIjoyMDczODA2MzIxfQ.AB4ke4bt8qF6QG8SWCOyQ2EF24UW-gBm50nNWOYrixI"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZHZvc2ppdHJrb3BuYXJib3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODIzMDMyMSwiZXhwIjoyMDczODA2MzIxfQ.AB4ke4bt8qF6QG8SWCOyQ2EF24UW-gBm50nNWOYrixI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"payment_id\": \"{{ $json.payment_id }}\",\n  \"milestone_number\": {{ $json.milestone_number }},\n  \"title\": \"{{ $json.title }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"percentage\": {{ $json.percentage }},\n  \"amount\": {{ $json.amount }},\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "id": "ce90e4d5-249d-40f3-8029-1e57661e4510",
      "name": "Insert Milestones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"payment_id\": \"{{ $('Create Payment Record').first().json[0].id }}\",\n  \"milestones_created\": {{ $('Prepare Milestones for Insert').all().length }},\n  \"total_amount\": {{ $('Calculate Fees & Milestones').first().json.total_amount }},\n  \"payment_method\": \"milestones\"\n}",
        "options": {}
      },
      "id": "5901bccf-f9e2-43b2-a9e5-c87fd9a4212b",
      "name": "Respond to Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Milestone Setup": {
      "main": [
        [
          {
            "node": "Get Milestone Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Template": {
      "main": [
        [
          {
            "node": "Calculate Fees & Milestones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Fees & Milestones": {
      "main": [
        [
          {
            "node": "Create Payment Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payment Record": {
      "main": [
        [
          {
            "node": "Prepare Milestones for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Milestones for Insert": {
      "main": [
        [
          {
            "node": "Insert Milestones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Milestones": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3dea49b7dd9b43976d38842c495efe40be7c7e03943c21cc3656ea0a8437e9d2"
  }
}